.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 500px;
  margin: auto;
}

.title {
  font-size: 1.5em;
}

.letter-grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.letter-grid-row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}

.letter-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  text-align: center;
  display: flex;
  height: 60px;
  width: 60px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.keyboard-row {
  display: flex;
  flex-direction: row;
}
.keyboard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}